.addNewItemRoot{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 15px auto;
  min-width: 500px;
  max-width: 700px;
  border-radius: 5px;
  padding: 5px;
  border: 1px solid skyblue;

}

.addNewItem-inputsBlock{
  display: flex;
  height: 50px;

  .addNewItem-id{
    margin-left: 5px;
  }



div{
    display:flex;
    margin-right: 5px;
    height: 30px;
    align-items: baseline;


    input{
      margin-left: 5px;
      padding: 0 5px;
      margin-right: 5px;
      height: 25px;
      border-radius: 0.7em 0;

    }
  .addNewItem-inputId{
    width: 48px;
    text-align: center;
  }

}
}

.addNewItem-buttonBlock{
 display: flex;
 justify-content: flex-end;

  .saveBtn{
    margin-left: 5px;
  }
}
