.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  cursor: pointer;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;

}

.primary{
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.warning{
  color: #212529;
  background-color: #ffc107;
  border-color: #ffc107;
}

.danger{
  color: #fff;
  background-color: #17a2b8;
  border-color: #17a2b8;
}

.success{
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
}

.dark{
  color: #fff;
  background-color: #343a40;
  border-color: #343a40;
}

///////         Hovers
.primary:hover {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
}

.warning:hover{
  color: #212529;
  background-color: #e0a800;
  border-color: #d39e00;
}

.danger:hover{
  color: #fff;
  background-color: #c82333;
  border-color: #bd2130;
}

.success:hover{
  color: #fff;
  background-color: #218838;
  border-color: #1e7e34;
}

.dark:hover {
  color: #fff;
  background-color: #23272b;
  border-color: #1d2124;
}

///////         Sizes

.medium{
  font-weight: 400;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
}

.large{
  padding: .5rem 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: .3rem;
}

.small{
  padding: .25rem .5rem;
  font-size: .875rem;
  line-height: 1.5;
  border-radius: .2rem;
}


////////////////////// fullWidth

.fullWidth{
  width: 100%;
}