.root{
  display: flex;
  justify-content: center;
  font-size: 2em;

  p{
    margin: 0;
  }

  .userRoot{
    margin-top: 20px;
    padding: 0 15px 15px 15px;
    border-radius: 5px;
    background-color: #17a2b8;

    p:first-child{
      text-align: center;
      margin-bottom: 15px;
      background-color: #28a745;
      border-radius: 0 0 6px 6px;
    }
  }
}