.listItemRoot {
  position: relative;
  display: flex;
  justify-content: space-between;
  border-radius: 4px;
  margin-top: 10px;
  padding: 5px;
  border:  1px solid #1a843f;
  max-width: 800px;
  min-width: 400px;
  height: 45px;

  .aboutUser {
    display: flex;
    p:first-child{
      margin-left: 5px;
    }
    p{
      margin-right: 15px
    }

  }

  .changeUserData{
    align-items: center;
    display: flex;

    .changeUserData-p{
      padding: 0 10px;
    }

    .changeUserData-input{
      padding-left: 10px;
      margin-right: 10px;
      height: 25px;
      border-radius: 0.7em 0;

    }
  }

  .btnChange {
    display: flex;
    padding-left: 20px;
    align-items: center;

    .hello{
      margin: 0 15px;
    }
  }
}
